
body{
    margin: 0;
    background:#7F6243;
    color:#0B0B0B;
}
body::-webkit-scrollbar{
    display: none;
  }
.heading{
    font-size:13rem ;
    margin: 0;
}
.hero-section{
    max-height: auto;
}
.hero-text{
   
    padding:10%  6%  10% 10%;
    }
.ph-text{
    margin-left: 10%;
}
.hero-img{
    object-fit: contain;
    width: 80%;
   
}
.navbar{
    font-size:14px;
    font-weight: bold;
    padding: .4em 1.5em;
} 