
body{
    margin: 0;
    background:#7F6243;
    color:#0B0B0B;
}
.heading{
    font-size:13rem ;
    margin: 0;
}
.hero-section{
    /* max-height: 50vh; */
    max-height: auto;
}
.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-63%, -50%)
}
.ph-text{
    margin-left: 15%;
}
.hero-img{
    object-fit: contain;
    width: 80%;
}